PUBLIC_STRAPI_URL=http://localhost:1337
PUBLIC_FIREBASE_API_KEY=your_api_key
PUBLIC_FIREBASE_AUTH_DOMAIN=your_auth_domain
PUBLIC_FIREBASE_PROJECT_ID=your_project_id
PUBLIC_FIREBASE_STORAGE_BUCKET=your_storage_bucket
PUBLIC_FIREBASE_MESSAGING_SENDER_ID=your_sender_id
PUBLIC_FIREBASE_APP_ID=your_app_id

# --- WhatsApp Configuration ---
PUBLIC_WHATSAPP_NUMBER=3052928927

# --- EmailJS Configuration ---
PUBLIC_EMAILJS_SERVICE_ID=your_emailjs_service_id
PUBLIC_EMAILJS_TEMPLATE_ID=your_emailjs_template_id
PUBLIC_EMAILJS_PUBLIC_KEY=your_emailjs_public_key
PUBLIC_ADMIN_EMAIL=laesperanzavivero2026@gmail.com
